body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #131313;
}

a {
    display: none;
    text-decoration: none;
}

.label {
    display: none;
    text-decoration: none;
}

#header {
    background-color: transparent;
    color: Green;
    margin: 2rem 0;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    font-size: 10rem;
    margin-right: 1rem;
    display: flex;
    align-items: center; 
}

#header h1 {
	padding-left: 4rem;
	font-family: 'VT323', monospace;
	font-size: 96px;
}

#header p {
	padding-left: 4rem;
	font-family: 'VT323', monospace;
	font-size: 2em;
}

#content {
	max-width: 100%;
	height: auto;
    background-color: #212121;
    display: flex;
    padding: 2rem;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#canvasAlonePong {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}

#canvasPong {
    width: 800px;
    height: 400px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}

#description-container {
	padding-right: 4rem;
}

#description-container p {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.4rem;
    text-align: right;
    color: Green;
}

#description-container a {
    display: inline;
    color: Green;
    text-decoration: underline;
}

#footer {
    background-color: transparent;
    margin: 2rem 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    color: Green;
}

#footer ul.icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: Green;
}

#footer ul.icons li {
    margin: 0 0.5rem;
    color: Green;
}


@media screen and (min-width: 768px) {
    #content {
	    align-items: flex-start; 
    }

	#canvasAlonePong {
		flex-basis: 50%; 
	}

    #description-container {
        flex-basis: 30%; 
    }

}


@media screen and (max-width: 767px) {
    #content {   
        flex-direction: column; 
    }

    #description-container, #gameCanvas {
        flex-basis: 100%; 
    }
    
}
